html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
    title Hello World
  body
    .container
      .row
        .span6.offset3
          p &nbsp;
          p &nbsp;
          p &nbsp;
          
          
          h1 Oh, sweetheart!
          